<style>
    .pinter_comment{
        max-width: 700px;
        border: 1px solid;
        border-radius: 1rem;
        border-color: lightgrey;

    }
    .pinter_comment div{
        margin: .6rem 1.5rem;
    }
</style>

<div class="pinter_comment">
    <div>
        <span>
            <strong>
                {{ comment.writer.profile.nickname }}
            </strong>
        </span>
        <span>
            {{ comment.created_at }}
        </span>
        {% if comment.writer == user %}
            <span style="text-align:right; color: skyblue;">
            <a href="{% url 'commentapp:delete' pk=comment.pk %}">
                Delete
            </a>
            </span>
        {% endif %}
    </div>

    <div>
        <span>
        {{ comment.content }}
        </span>

    </div>
    
</div>
