{% load static %}
<style>
    .create-btn {
    text-align: right;
    margin-right: 4rem;
    }

    .container {
    padding: 0;
    margin: 0, auto;
    }
    .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    }
    .container a {
    max-width: 220px;
    width: 45%;
    }
    .container img{
      width: 100%;
      border-radius: 1rem;
    }
</style>

<div class="create-btn">
    <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3">
        create New
    </a>
</div>

<!--  <div>-->
<!-- 임시 페이지용 이미지     <img src="https://picsum.photos/200/300">-->
<!--  </div>-->
{% if article_list %}
    <div class="container">
        {% for article in article_list %}
            <a href="{% url 'articleapp:detail' pk=article.pk %}">
                <div>
                    <img src="{{ article.image.url }}" alt="">
                </div>
            </a>

        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>

{% else %}
    <div class="text-center">
        <h1>No Article Yet!</h1>
    </div>
{% endif %}

{% include 'snippets/pagination.html' with page_obj=page_obj %}

