.pinter_font {
    font-family: 'Source Code Pro', monospace;
 }
.pinter_footer_button{
    font-size: .8rem;
}
.pinter_footer{
    text-align:center;
    margin-top: 2rem;
}
.pinter_footer>div>h6{
    margin-top: 1rem;
}
.pinter_header{
    text-align:center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.pinter_header h1 {
    margin-bottom: 1rem;
}
.pinter_header a {
    margin: 1rem;
}

@media screen and (max-width:500px) {
    html {
        font-size: 12px;
    }
}

a {
    color: grey;
    text-decoration: none;

}
a:hover {
    color:black;
    font-weight: bold;
    text-decoration: none;
}
a h6:hover {

    font-weight: bold;
}