<div class="pinter_header">
        <h1 class="pinter_font">Pinter</h1>
    <div>
        <a href="{% url 'articleapp:list' %}">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}">
            <span>Projects</span>
        </a>
        <span>nav3</span>
        {% if not user.is_authenticated %}
        <!-- ?next={{ request.path }} : 원래 있었던 페이지로 이동 -->
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>Login</span>
        </a>
        <a href="{% url 'accountapp:create' %}">
            <span>SignIn</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
            <span>Logout</span>
        </a>
        {% endif %}
    </div>
</div>